# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json

# Editor
.idea
*.swp

# Other
.DS_Store
Modified-Fastchat/wandb
Modified-Fastchat/output
Modified-Fastchat/build
Modified-Fastchat/playground/data/
Modified-Fastchat/scripts/checkpoints/
Modified-Fastchat/scripts/wandb
Data/
Results/

# Data
*.pkl
*.csv



